doctype html
html(lang="en")
  head
    title Registration Form
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand 
            a(href="/") Registration Form

    

    .container
      block content
        h1 Enter Your Details to Register
        .jumbotron 
      
 
